# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================

env/
venv/
.venv/

# ===============================
# Environment Variables
# ===============================

.env

# ===============================
# SQLite
# ===============================

db.sqlite3

# ===============================
# Django Static & Media
# ===============================

staticfiles/
media/

# ===============================
# Logs
# ===============================

*.log

# ===============================
# IDE
# ===============================

.vscode/
.idea/

# ===============================
# OS
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Pytest
# ===============================

.pytest_cache/

# ===============================
# Mypy
# ===============================

.mypy_cache/

# ===============================
# Ruff
# ===============================

.ruff_cache/

# ===============================
# Coverage
# ===============================

.coverage
htmlcov/

# ===============================
# Python Build
# ===============================

build/
dist/
*.egg-info/